<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD</title>

    <link rel="stylesheet" href="/stylesheets/pure.css">
    <link rel="stylesheet" href="/vendors/v-accordion/dist/v-accordion.css">
    <link rel="stylesheet" href="/stylesheets/style.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="vendors/angular/angular.js"></script>
    <script src="vendors/angular-route/angular-route.min.js"></script>
    <script src="vendors/angular-animate/angular-animate.min.js"></script>
    <script src="vendors/v-accordion/dist/v-accordion.js"></script>
    <script src="vendors/Chart.js/Chart.min.js"></script>
    <script src="vendors/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
    <script src="vendors/angular-sanitize/angular-sanitize.js"></script>
    <script src="vendors/ng-csv/build/ng-csv.js"></script>
    <script src="javascripts/dashboard.js"></script>
    <script src="javascripts/DashboardController.js"></script>
    <script src="javascripts/EmailController.js"></script>

    <base href="/graphs">

</head>
<body>
    <ng-view>

    </ng-view>
</body>
</html>