<!DOCTYPE html>
<html lang="en" ng-app="dashboard">
<head>
    <meta charset="UTF-8">
    <title>DASHBOARD</title>

    <link rel="stylesheet" href="/stylesheets/pure.css">
    <link rel="stylesheet" href="/vendors/v-accordion/dist/v-accordion.css">
    <link rel="stylesheet" href="/vendors/angular-date-picker/angular-date-picker.css">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <link rel="stylesheet" href="vendors/sweetalert/dist/sweetalert.css">

    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script src="vendors/angular/angular.js"></script>
    <script src="vendors/angular-animate/angular-animate.min.js"></script>
    <script src="vendors/v-accordion/dist/v-accordion.js"></script>
    <script src="vendors/Chart.js/Chart.min.js"></script>
    <script src="vendors/tc-angular-chartjs/dist/tc-angular-chartjs.min.js"></script>
    <script src="vendors/angular-date-picker/angular-date-picker.js"></script>
    <script src="javascripts/DashboardController.js"></script>
    <script src="vendors/sweetalert/dist/sweetalert.min.js"></script>
</head>

        <div ng-controller="DashboardController">

        <div class="pure-g">

            <div ng-class="navClass" class="header-wrapper pure-u-1">
                <div class="navFix">

                    <a href="/logout"><img class="email-header pure-img" src="/assets/RedMinneStPaulDG.png"></a>
                    <div class="top-menu pure-menu pure-menu-horizontal">
                        <ul class="pure-menu-list">
                            <li class="pure-menu-item"><a href="/logout" class="pure-menu-link">Home</a></li>
                            <li class="pure-menu-item"><a href="/dashboard" class="pure-menu-link">Dashboard</a></li>
                        </ul>
                    </div>

                </div>
            </div>

            <div class="pure-u-2-24"></div>

            <div class="email-content pure-u-20-24">
                <div class="dashboard-header pure-g">

                <div class="pure-u-1-3">
                    <span class="header">Dashboard</span>
                </div>
                    <div class="pure-u-1-3"></div>
                <div class="pure-u-1-3">
                    <a href="/logout" class="button-guestSubmit dashbutton pure-button">Log Out</a>
                    <a href="/email" class="button-guestSubmit dashbutton pure-button">Sign In Data</a>
                </div>
                </div>



                            <div class="graph-section" >
                                <h2>
                                    Guests and Member Totals for One Week
                                </h2>
                                <div>
                                    <canvas tc-chartjs-pie chart-options="options" chart-data="weekData" auto-legend></canvas>
                                </div>
                            </div>

                            <div class="graph-section">
                                <h2>
                                    Guests and Member Totals for Six Months
                                </h2>
                                <div>
                                    <canvas tc-chartjs-pie chart-options="options" chart-data="monthData" auto-legend></canvas>
                                </div>
                            </div>

                            <div class="graph-section">
                                <h2>
                                    Totals by Month for Past Six Months
                                </h2>
                                <div>
                                    <canvas tc-chartjs-bar chart-options="options2" chart-data="priorData" auto-legend></canvas>
                                </div>
                            </div>

                            <div class="graph-section">

                                    <h2>
                                        Totals by Event
                                    </h2>
                                    <div class="pure-u-1">

                                        <form class="pure-form" ng-submit="eventForm(date)">
                                            <date-picker ng-model="date" format-date="formatDate"></date-picker>
                                            <input class="pure-input" type="text" ng-model="date">
                                            <input class="pure-button" type="submit" id="submit" value="Submit" />
                                        </form>
                                        <div ng-repeat="person in resData">
                                            <h3>Total event guests: {{resData.length}}</h3>
                                        </div>
                                    </div>
                            </div>

            </div>
            <div class="pure-u-2-24"></div>


            </div>
        </div>

</body>
</html>
