<div ng-controller="DashboardController">
    <p>{{message}}</p>
    <div>
        <h1>Impact Hub Dashboard</h1>
        <button><a href="/email">Email List</a></button>
        <button><a href="/logout">Log Out</a></button>
    </div>
    <div>
        <h3>Total Guests Past Week</h3>
        <h2>{{guestWeek.length}}</h2>
    </div>
    <div>
        <h3>Total Members Past Week</h3>
        <h2>{{memberWeek.length}}</h2>
    </div>
    <div>
        <h3>#'s in space</h3>
    </div>
    <div>
        <h3>New Members</h3>
    </div>
    <div>
        <h3>Lost Members</h3>
    </div>
    <div>
        <h4>All the graphs!!</h4>
        <img src="http://cdn.meme.am/instances/62989032.jpg">
    </div>
</div>