 <div class="container">
        <div class="pure-g">
            <div class="pure-u-3-4">
                <a class="pure-button button-guestSubmit" href="http://minneapolis.impacthub.net/membership-2/" target="_blank"><h1 class="header whosHereButton">Become a Member!</h1></a>
            </div>
            <div class="pure-u-1-4">
                <a class="pure-button button-guestSubmit" href="/"><h1 class="header whosHereButton">Go Back to Home!</h1></a>
            </div>
            <div class="pure-u-5-12 peopleDiv main-login-content">
                <h2>Members</h2>
                <hr />
                <p class="person" ng-repeat="person in getMember | orderBy: 'created_at':true track by $index">{{person.name}}</p>
            </div>
            <div class="pure-u-2-12 spaceDiv"></div>
            <div class="pure-u-5-12 peopleDiv main-login-content">
                <h2>Guests</h2>
                <hr />
                <p class="person" ng-repeat="person in getGuest | orderBy: 'created_at':true track by $index">{{person.name}}</p>
            </div>
        </div>
</div>