body {
  background-color: #333333;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}
li {
  display: inline;
  float:left;
}
a{
  color: #ffffff;
}

.testNav a {
  display: block;
  width: 300px;
}

#main {
  display: block;
  clear: both;
}

.main-login-content {
  padding: 25px;
  min-height: 80%;
  border-radius: 3px;
  background-color: #812926;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  text-align: center;
  margin-top: 5%
}

.main-login-content h1, h2, p {
  color: #ffffff;
}

.button-xlarge {
  font-size: 125%;
}

.loginButton{
  background-color: #999b9b;
  height: 40%;
  /*width: 40%;*/
  margin: 3px;
  padding: 10% 0;
  text-decoration: none;
}

.loginWrapper{
  margin: 0 auto 10% auto;
  display: block;
  width: 100%;
}

/*.loginWrapper button{*/
  /*float: right;*/
/*}*/

.loginButton a{
  line-height: 100%;
  padding: 10% 0;
}

.button-guestSubmit {
  background-color: #999b9b;
  color: #000000;
}

.guestInput {
  margin: 10px auto;
  min-width: 30%;
}

.inputs {
  text-align: center;
}

.inputWrapper{
  text-align: left;
}

.keypadButton {
  background-color: #999b9b;
  height: 55px;
  margin: 2px;
  /*border: solid black 1px;*/
  cursor: pointer;
}

.keypadButton a{
  text-decoration: none;
  color: #000000;
}

i {
  font-size: 4vw;
}

button a{
  text-decoration: none;
  color: #000000;
}
