body {
  background-color: #333333;
  background-image: url("/assets/gun_metal2.png");
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  color: red;
}
li {
  display: inline;
  float:left;
}
a{
  color: #ffffff;
}

.pure-g > div {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.testNav a {
  display: block;
  width: 300px;
}

#main {
  display: block;
  clear: both;
}

.main-login-content {
  padding: 25px;
  min-height: 80%;
  border-radius: 3px;
  background-color: #812926;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  text-align: center;
  margin: 5% 0 5% 0;
  position: relative;
}

.main-login-content h1, h2, p {
  color: #ffffff;
}

.logo {
  width: 90%;
  /*float: left;*/
  left: -3.75%;
  top: 15px;
  background-color: #FFFFFF;
  position: absolute;
  padding: 2% 10% 2% 10%;
  border-radius: 3px;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.5);

  /*margin-bottom: 20%;*/
}

.email-header{
  width: 50%;
  position: absolute;
  background-color: #FFFFFF;
  padding: 1% 100vw 1% 0;
}

.email-content {
  padding: 25px;
  min-height: 80%;
  border-radius: 3px;
  background-color: #812926;
  -webkit-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  -moz-box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  box-shadow: 2px 2px 3px 0px rgba(0,0,0,0.76);
  text-align: center;
  margin-top: 15%;
  position: relative;

}

.header-wrapper{
  min-width: 100vw;
  background-color: #FFFFFF;
  position: fixed;
  z-index: 10;
}

.header-wrapper button{
  z-index: 15;
  top: 100px;
}

.image-wrapper{
  margin-bottom: 25%;
  /*background-color: #333333;*/
}

/*Media Queries to adjust banner depending on screen-size and device*/
@media screen and (min-width: 580px) {
  .backBanner {
    width: 4.1%;
    position: absolute;
    right: -3.1%;
    top: 16px;
    z-index: -50;
  }

  .backBanner_left {
    width: 4.1%;
    position: absolute;
    left: -3.5%;
    top: 16px;
    z-index: -50;
  }

  .loginWrapper a{
    font-size: 16px;
  }
}

@media screen and (max-width: 579px) {
  .backBanner {
    width: 4.1%;
    position: absolute;
    right: -2.7%;
    top: 16px;
    z-index: -50;
  }

  .backBanner_left {
    width: 4.1%;
    position: absolute;
    left: -2.7%;
    top: 16px;
    z-index: -50;
  }

  .loginWrapper a{
    font-size: 14px;
  }

}

@media screen and (min-width: 900px) {
  .backBanner {
    width: 4.1%;
    position: absolute;
    right: -3.8%;
    top: 16px;
    z-index: -50;
  }

  .backBanner_left {
    width: 4.1%;
    position: absolute;
    left: -3.8%;
    top: 16px;
    z-index: -50;
  }
}

@media screen and (max-width: 330px) {
  .backBanner {
    width: 4.1%;
    position: absolute;
    right: -2.3%;
    top: 16px;
    z-index: -50;
  }

  .backBanner_left {
    width: 4.1%;
    position: absolute;
    left: -2.3%;
    top: 16px;
    z-index: -50;
  }
}

  .button-xlarge {
  font-size: 125%;
}

.loginButton{
  background-color: #999b9b;
  height: 40%;
  /*width: 40%;*/
  margin: 3px;
  padding: 10% 0;
  text-decoration: none;
}

.loginWrapper{
  margin: 0 auto 10% auto;
  display: block;
  width: 100%;
}

/*.loginWrapper button{*/
  /*float: right;*/
/*}*/

.loginButton a{
  line-height: 100%;
  padding: 10% 0;
}

.button-guestSubmit {
  background-color: #999b9b;
  color: #000000;
}

.bottomForm {
  text-align: left;
  margin: 0 1% -5% 1%;
}

.guestInput {
  margin: 10px auto;
  min-width: 30%;
}

.guestInputLast {
  margin: 10px auto 0 auto;
  min-width: 30%;
}

.submit-button{
  float: right;
}

.inputs {
  text-align: center;
}

.inputWrapper{
  text-align: left;
}

.keypadButton {
  background-color: #999b9b;
  height: 55px;
  margin: 2px;
  cursor: pointer;
  line-height: 45px;
}

.keypadButton a{
  text-decoration: none;
  color: #000000;
}

i {
  font-size: 4vw;
}

button a{
  text-decoration: none;
  color: #000000;
}

.tc-chart-js-legend {
  list-style-type: none;
  padding-left: 0px;
}
.tc-chart-js-legend li {
  display: block;
  float: left;
  clear:both;
  padding:10px;
}
.tc-chart-js-legend li span {
  width:25px;
  height:25px;
  display:block;
  float:left;
  margin-right:10px;
}

.topLabel ul{
  margin: 2px 2px 5px 2px;
}

.topLabel li{
  font-weight: bold;
  color: #333333;
  background-color: #ffffff;
  height: 50px;
  line-height: 50px;
  margin-bottom: 2%;
  cursor: pointer;
}

.topLabel li:hover{
  background-color: #b2b2b2;
}

.box-border-right{
  border-right: black 1px solid;
}

.list-item ul{
  margin: 2px;
}

.list-item li{
  color: #333333;
  /*background-color: #d6d6d6;*/
  height: 50px;
  line-height: 50px;
  font-size: 14px;
  margin-bottom: 1%;
}

.list-item li:nth-child(4){
  border-radius: 0 10px 10px 0;
}

.list-item li:nth-child(1){
  border-radius: 10px 0 0 10px;
}

.list-item ul:nth-child(odd){
  background-color: #FFFFFF;
}

.odd {
  background-color: #d6d6d6;
}

.even {
  background-color: #ffffff;
}

tbody tr{
  background-color: #FFFFFF;
  color: #333333;
}

